
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {margin: 0 -5px;}

.CourseCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 16px;
  text-align: center;
  background-color: rgba(0,0,0,0.2);
  height: 500px;
  max-height: 100px;

}
.column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

